<html>

<head>
  <title> Meeglo </title>
  <link href='/css/main.css' rel='stylesheet' />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="/js/scroll.js"></script>
</head>

<body>
  <link href='http://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
  <div class = "nav" >
  <ul>
  <li><a href="#home"><span style="background-color:#FF00FF;"></span>Home</a></li>
  <li><a href="#about">About</a></li>
  <li><a href="#contact">Contact</a></li>
  <li><a href="#reviews">Reviews</a></li>
</ul>
</div>
  <section id="home" data-type="background" data-speed="10" class="pages">
    <article>
      <div id="home_title">Meeglo</div>
      <div id="home_text"> Meeglo is a heart visualization tool for meditation and biofeedback. </div>
    </article>
  </section>

  <section id="about" data-type="background" data-speed="10" class="pages">
    <article>
      <iframe src="//player.vimeo.com/video/121614979"></iframe>
      <div id="about_text_space"></div>
      </div>
      <div id="about_text">
        Meeglo makes meditation easy. It’s a modern tool for the ancient practice of heart rhythm meditation, or what science/western medicine calls HRVB. The idea is, your heart naturally rises as you breathe in and falls when you breathe out. How much it rises and falls has to do with balance in autonomic nervous system, or ability to cope with stress. </b> By visualizing heart rate as color, Meeglo gives people immediate feedback on what their heart is doing. This process (biofeedback) helps people modify their thinking and breathing to get their heart in sync, and increase their HRV.
      </div>
    </article>
  </section>

  <section id="contact" data-type="background" data-speed="10" class="pages">
    <article>
      <div id="contact_title">
        Subscribe to learn more
      </div>
      <div id="contact_text_one">
        Get emails about our progress. We won’t share your email or spam you.
      </div>
      <form action="/register" method="post" id="contact_me">
        <input type="email" id="email" name="email" placeholder="Email" required="required" style="font-size:30px;" />
        <div id="actions">
          <button type="submit" class="btn">Send</button>
        </div>
    </article>
  </section>


  <section id="reviews" data-type="background" data-speed="10" class="pages">
    <article>
      <p>Here is what users have said about Meeglo so far.</p>
      <iframe src="//player.vimeo.com/video/120337468"></iframe>
      <h2></h2>
    </article>
  </section>

  <section id="footer" data-type="background" data-speed="10" class="pages">
    <article>
            <h1> Meeglow, 2015 </h1>
    </article>
  </section>
</body>

</html>
